@model OnlineShop.EndPoints.Models.People.AddNewPersonDisPlayViewModel

@{

}
@section head
{
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

}
<form asp-action="Add" asp-controller="People" method="post" enctype="multipart/form-data">

	<div class="form_group">
		<label asp-for="FirstName"></label>
		<input type="text" asp-for="FirstName" class="form-control" maxlength="50" />
		<span asp-validation-for="FirstName"></span>
	</div>
	<div class="form_group">
		<label asp-for="LastName"></label>
		<input type="text" asp-for="LastName" class="form-control" maxlength="50" />
		<span asp-validation-for="LastName"></span>
	</div>
	<div class="form_group">
		<label asp-for="Address"></label>
		<input type="text" asp-for="Address" class="form-control" maxlength="256" />
		<span asp-validation-for="Address"></span>
	</div>
	<div class="form_group">
		<label asp-for="Email"></label>
		<input type="text" asp-for="Email" class="form-control" maxlength="500" />
		<span asp-validation-for="Email"></span>
	</div>
	<div class="form_group">
		<label asp-for="products"></label>
		<input type="text" asp-for="products" class="form-control" maxlength="50" />
		<span asp-validation-for="products"></span>
	</div>
		|
		<div class="form_group">

			<select class="form-control select2" name="SelectedCategory" multiple>
				@foreach (var item in Model.CategoriesForDisplay)
				{
					<option value="@item.Id">@item.Title</option>
				}

			</select>
		</div>
		<input type="submit" value="Save" class="btn btn-primary" />

</form>

@section scripts
{
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.select2').select2();
		});
	</script>
}